.parent{
    border: 2px solid transparent;
    background-color: rgba(221, 21, 21, 0.936);
    width: 100%;
    height:120svh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 20px ;
}
.child{
    border: 2px solid transparent;
    background-color: rgb(35, 4, 4);
    width:250;
    height: 350;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    position: relative;
}
.container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color:red;
    left: 34;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .container:hover .overlay {
    opacity: 1;
  }
.photo:hover{
    transform: scale(1.10);
}
.photo1:hover{
    transform: scale(1.10);
}
.strip{
    background-color: rgb(241, 16, 16);
    width: 10px;
    height: 70px;
    top: 15%;
    position: absolute;
    top: 50;
}
.heading{
    border: 2px solid transparent;
    box-shadow: 0 0 15px red;
    font-size: medium;
    width: 300px;
    color: white;
    text-align: center;
    background-color: rgb(43, 43, 56);
    position: relative;
    left: 600;
    margin-bottom: 20;
}
.photo{
    height: 250px;
    left: 40;
    position: relative;
    top: 20;
}
.photo1{
    height: 250px;
    left: 60;
    position: relative;
    top: 20;
}
.name{
    color: red;

}
.name1{
    color: red;
}
.main{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}