.photo{
    background-image: url("./credit-card-template.jpg");
    height:210px;
    width: 340px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 50px;
}
.photo1{
    background-image: url("./sbi-logo.png");
    background-size:contain;
    width: 88px;
    height: 20px;
    position: absolute;
    left: 240px;
    top: 20px;
}
.name{
    color: white;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top:80;
    left: 235;
}
.name1{
    color: rgba(255, 255, 255, 0.385);
    font-size: x-small;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top:100;
    left: 235;
}
.number{
    color: white;
    /* font-family:'Courier New', Courier, monospace; */
     font-family:Georgia, 'Times New Roman', Times, serif;
     position: absolute;
     top:120;
     left: 30;
}
.name2{
    color: rgba(255, 255, 255, 0.385);
    font-size: x-small;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 150;
    left: 110;
}
.name3{
    color: rgba(255, 255, 255, 0.385);
    font-size: x-small;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 160;
    left: 110;
}
.number1{
    color: rgba(255, 255, 255, 0.633);
    position: absolute;
    top: 150;
    left: 150;
    font-weight: lighter;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.name4{
    color: rgba(255, 255, 255, 0.697);
    font-weight: lighter;
    font-size: small;
    position: absolute;
    top: 180;
    left: 30;
}
.v{
    position: absolute;
    top: 170;
    left: 200;
    color:white;
    font-weight: bolder;
}
.photo2{
    background-image: url("../Images/Visa-Platinum.png");
    background-size:contain;
    width: 160px;
    height: 100px;
    position: absolute;
    top: 130;
    left: 220;
}