.outer{
    border: 2px solid solid black;
    background-color: white;
    padding: 10;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: centerp;
    position: relative;
}
.header{
    border: 2px solid black;
    color: white;
    width: 100px;
    height: 40px;
}
.box1{
    background-color: rgb(69, 214, 69);
     border-radius: 5px;
}
.box2{
    background-color: #223ef2e9; border-radius: 5px;
}
.box3{
    background-color: #223ef2e9; border-radius: 5px;
}
.box4{
    background-color: #223ef2e9; border-radius: 5px;
}
.box5{
    background-color:red; border-radius: 5px;
}
.profile{
    margin-top: 30px;
    margin-left: 20px;
    border: 2px solid transparent;
    position: absolute;
    width: 20%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 6px black;
}
.circle{
    border: 2px solid rgb(23, 33, 216);
    height: 130px;
    width: 130px;
    border-radius: 30%;
    margin-top: 10;
    margin-left: 80px;
    position:absolute;
}
.matter{
    margin-top: 20;
    margin-left: 110;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: larger;
}
.matter1{
    margin-top: 20;
    text-align: center;
}
.follow{
    border: 2px solid transparent;
    color: white;
    height: 30px;
    width: 70;
    background-color: blue;
    border-radius: 5px;
    margin-top: 20;
    margin-left: 80 ;
}
.message{
    border: 2px solid blue;
    color: rgba(70, 23, 211, 0.849);
    height: 30px;
    width: 70;
    background-color: white;
    border-radius: 5px;
    margin-top: -30;
    margin-left: 152 ;
}
.line1{
    margin-top: 10;
    margin-left: 0;
    border: 1px solid transparent;
    box-shadow: 5px 0px 2px black;
}
.matter2{
    margin-top: 10;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10;
}
.matter3{
    margin-top: 10;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10;
}
.detials{
    border: 2px solid transparent;
    box-shadow: 0 0 5px black;
    height: 60%;
    width: 60%;
    position: absolute;
    left: 380;
    top: 100;
}